.metadata/

Servers/.settings/
Servers/.project

www/.settings/
www/.classpath
www/.project
www/.springBeans
www/target/classes/
www/target/test-classes/

www2/.settings/
www2/.classpath
www2/.project
www2/.springBeans
www2/target/classes/
www2/target/test-classes/
